<div class="container" >
  {{generic-selector
    onSelect=(action "includeOption")
    placeholder="add option"
    listId="include"
    options=model.inclusionOptions
  }}
  {{generic-selector
    onSelect=(action "excludeOption")
    placeholder="remove option"
    listId="exclude"
    options=model.exclusionOptions
  }}
  {{outlet}}
</div>
